<div class="custom-categories">
  <h3>📁 전체 글 수 {{ site.posts | size }} 개</h3>

  <h4>C/C++/C#</h4>
  <ul>
    <li><a href="/categories/cpp/">C ++ ({{ site.categories['cpp'] | size }})</a></li>
    <li><a href="/categories/cpp-stl/">C++ STL & 표준 ({{ site.categories['cpp-stl'] | size }})</a></li>
    <li><a href="/categories/cpp-practice/">C++ 연습 문제 패키지 ({{ site.categories['cpp-practice'] | size }})</a></li>
    <li><a href="/categories/cpp-boost/">C++ Boost.Asio 네트워크 ({{ site.categories['cpp-boost'] | size }})</a></li>
    <li><a href="/categories/csharp/">C # ({{ site.categories['csharp'] | size }})</a></li>
    <li><a href="/categories/c/">C ({{ site.categories['c'] | size }})</a></li>
  </ul>

  <h4>Coding Test</h4>
  <ul>
    <li><a href="/categories/codingtest/">문제 풀이 ({{ site.categories['codingtest'] | size }})</a></li>
    <!-- 더 추가 가능 -->
  </ul>
</div>
