---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

.custom-categories a {
  text-decoration: none;
}

.custom-categories a:hover {
  text-decoration: underline; // hover 시엔 밑줄 주고 싶으면
}
